* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.app {
  text-align: center;
  width:100%;
  height:100%;
  padding: 10px;
}

.text-holders {
  display:grid;
  grid-template-columns: 45% 5% 45%;
}

.input-box {
  width: 100%;
  height: 8vh;
  white-space: nowrap;
  overflow:scroll;
  font-size:14px;
}

.result {
  margin-top: 2px;
  height: 80vh;
  padding-left: 3px;
  padding-right: 3px;
}

.desc-text {
  width: 90%;
  margin:5px;
}

.middle {
  width: 10px;
}

.line{
  margin:0px;
  padding:0;
  text-align: center;
  border: 1px black solid;
  line-height: 14px;
  font-family: monospace;
  font-size: 14px;
}

.line-true {
  background-color: green;
  color: white;
}

.line-false {
  background-color: red;
  color: white;
}